.search__bar{

    /* padding: 0.5rem 1rem; */
    /* border-radius: 50px; */
    /* box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px; */
    /* width: max-content; */
    margin-top: 50px;
    width: 100%;
 }
 
.form__group button{
    font-size: 1rem;
    background: #299bdd;
    padding: 15px;
    border: none;
    width: 100px;
    border-radius: 10px;
     color: #fff;
     box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;

}
.form__group{
    width: 100%;
     padding: 10px;
     position: absolute;
     bottom: 13px;
     text-align: center;
  }
.form__group input{
    border: none;
    width: 50%;
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
    padding: 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    outline: none;
    color: var(--heading-color);
}
.form__group input:focus{
    outline: none;
}
.form__group h6{
    margin-bottom: 0;
}
 
.form__groups span{
    font-size: 1.8rem;
    color: #ee6e6e;
}
.form__groups{
   
}
.form__groups input{
    border: none;
    width: 20%;
    padding: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    outline: none;
    color: var(--heading-color);
}
.form__groups input:focus{
    outline: none;
}
.form__groups h6{
    margin-bottom: 0;
}
 
.search__icon i{
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
}